[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pyfunctional = "*"
pandas = "*"
xlsxwriter = "*"
matplotlib = "*"
click = "*"


[dev-packages]

pytest = "*"
pylint = "*"


[requires]

python_version = "3.6"
