[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
tryit = "python plogpy-cli tryit"
list = "python plogpy-cli list"

[packages]
pandas = "*"
xlsxwriter = "*"
click = "*"
"jinja2" = "*"

[dev-packages]
pytest = "*"
pylint = "*"
rope = "*"

[requires]
python_version = "3.6"
