<html>

<head>
    <meta charset="utf-8">
    <title>Report</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>

<body>
    <!-- TOC -->
    <ul>
    {% for title in titles %}
        <li>{{title}}</li>
    {% endfor %}
    </ul>
    
{% for title, table in zip(titles, tables) %}
    <h2>{{title}}</h2>
    {{table}}
    <canvas id="line_chart_{{title}}"></canvas>
    <canvas id="area_chart_{{title}}"></canvas>
{% endfor %}

</body>


<script> 
    // Use setTimeout for lazy javascript execution(avoid blocking HTML rendering)
    setTimeout(()=>{
        var ctx = 0
        var chart = 0
    {% for title, line_chart, area_chart in zip(titles, line_charts, area_charts) %}
        ctx = document.getElementById('line_chart_{{title}}').getContext('2d');
        chart = new Chart(ctx, {{line_chart}});
        ctx = document.getElementById('area_chart_{{title}}').getContext('2d');
        chart = new Chart(ctx, {{area_chart}});
    {% endfor %}
    }, 0);
</script>

</html>